services:
  angular-app:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - 4200:4200
    networks:
      - networks
    volumes:
      - ./node_modules/:/app/node_modules/
      - .:/app
    environment:
      - mode=production
    restart: unless_stopped
networks:
  networks:
    driver: bridge
  
